<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">   
	<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/grid/">
    <title>Parcial1</title>
  </head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <body>
    <div class="container">
       <nav class="navbar fixed-top navbar-light bg-light">
       <a class="navbar-brand">Alfredo Jose Welsh Martinez</a>
    </nav>
  </div>
  <div class="container" style="background-color:#aaa3"> 
       <h1>Alfredo Jose Welsh Martinez</h1>
  </div>
  <div class="container-fluid" id="Ancla">
    <div class="row">
      <div class="col" style="background-color:rgb(151, 211, 235)">Primer parcial</div>
    </div>
   </div>

     <div class="container">
    <div class="row">
      <div class="col-xl-4"  style="background-color:#aaa">
        <h1>Pasatiempo</h1> 
        <p>Pon el nombre de tu pasatiempo favorito.</p>
		<div id="name">
        <p>Tu pasatiempo es: </p>
      </div>
	  <div id="hide">
    <button class="btn btn-primary" v-on:click="isHidden = !isHidden">Pasatiempo</button> 
	 <p v-if="isHidden"><input type="text" v-model="name" placeholder="Pasatiempo"> </p>
    </div>
	
	
    <div class="row">
      <div class="col-xl-4"  style="background-color:#aaa">
        <h1>Mis pasatiempos favoritos</h1> 
		<div id="lista">
  <ol>
    <li v-for="tiempo in pasatiempos" >
      {{ tiempo.text }}
    </li>
  </ol>
</div>
      </div>
    </div>
	
	<div class="row">
      <div class="col-xl-4"  style="background-color:#aaa">
        <h1>Alumno</h1> 
        <p>Alfredo Jose Welsh Martinez.</p>
		<p>A00825988.</p>
      </div>

 
 <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
  <script>
    var hide = new Vue({
      el: '#hide',
      data: {
        isHidden: false
      }
    })
	</script>
	
	 <script>
	var lista = new Vue({
  el: '#lista',
  data: {
    pasatiempos: [
      { text: 'Basketball' },
      { text: 'Futball' },
      { text: 'Videojuegos' }
    ]
  }
})
</script>

<script>
    var name = new Vue({
      el: '#name',
      data: {
        name: 'Nombre'
      }
    })
	</script>
	
	
  </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</html>